# === SECOP II ===
USUARIO_SECOP=tu_usuario_secop
PASS_SECOP=tu_password_secop
URL_LOGIN_SECOP=https://...
URL_SECOP=https://...

# === ONBASE ===
USER_ONBASE=tu_usuario_onbase
PASS_ONBASE=tu_password_onbase
URL_ONBASE=https://...

# === GOOGLE SHEETS ===
HOJA_DATOS=nombre_de_la_hoja_google
WORKSHEET=nombre_del_worksheet

# === CONFIGURACION DEL ROBOT ===
NOMBRE_ESTACION=nombre_de_la_estacion
